*{
    margin: 0;
    padding: 0;
}

#judul{
    background-color: hsl(214, 87%, 85%);
    color: black;
    font-size: 30px;
    text-align: center;
    padding: 15px;
    border: 5px solid wheat;
    margin-bottom: 35px;
}

.media img{
    height: 240px;
    width: 360px;
    /* untuk tengahin gambar */
    display: block;
    margin: 0 auto;
    margin-bottom: 50px
    /* ---------------------- */
}

.content p{
    padding-left: 30px;
    padding-right: 30px;
}
.content p{
    margin-top: 30px;
    margin: 30px;
}

.body {
  margin: 22px;
  font-size: 20px;
  text-align: justify;
  padding-left: 15px;
  padding-right: 15px;
}

.one{
    padding-left: 30px;
    padding-right: 30px;
}

.two{
    padding-left: 30px;
    padding-right: 30px;
}
  .media img {
    display: block;
    margin: 0 auto;
    width: 360px;
    height: 240px;
    margin-bottom: 50px;
  }
  
  .content {
    padding-right: 30px;
    padding-left: 30px;
    font-size: 18px;
  }
  
  .content .opening p {
    margin-bottom: 30px;
    text-align: justify;
  }
  
  .content img {
    width: 360px;
    height: 240px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  
  .content div h3,
  .content div p {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .one p,
  .two p,
  .three p,
  .content .four p,
  .content .five p,
  .content .six p,
  .content .seven p {
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    text-align: justify;
  }
  
  #form {
    padding: 20px;
    background-color: slategray;
    color: aliceblue;
    border: 3px solid palevioletred;
  }
  